<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="layui/css/layui.css" media="all">

	</head>

	<body>
		<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">

		</fieldset>
		
			<div class="layui-row" style="width: 1000">
				<div>
					<button class="layui-btn" type="button" onclick="plateAdd()">增加车辆</button>
					<!--delete还没有实现-->
					<button class="layui-btn" type="button" onclick="permissionDelete()">删除车辆</button>
				</div>
				<br />
				<div class="demoTable">
					请输入车牌进行搜索：
					<div class="layui-inline">
						<input name="id" class="layui-input" id="demoReload" autocomplete="off">
					</div>
					<button class="layui-btn" data-type="reload">搜索</button>
				</div>
			</div>
			<table class="layui-hide" id="LAY_table_user" lay-filter="user"></table>

			<script src="layui/layui.js" charset="utf-8"></script>

			<script>
				layui.use('table', function() {
					var table = layui.table;

					//方法级渲染
					table.render({
						elem: '#LAY_table_user',
						url: '/demo/table/user/',
						cols: [[
						{checkbox: true,fixed: true}
						,{field:'number', title: '序号',sort: true, width:80}
						, {field: 'station',title: '站点名称',sort: true,
								//可以实现
								/*templet: function(data) {
									return layui.util.toDateString(data.datetime);
								}*/
								}
						,{field: 'id',title: '黑名单车牌号',fixed: true}
						, {field: 'recordtime',title: '记录时间'}
						]],
						
						id: 'testReload',
						
						page: true,
						height: 310
					});

					var $ = layui.$,
						active = {
							reload: function() {
								var demoReload = $('#demoReload');

								//执行重载
								table.reload('testReload', {
									page: {
										curr: 1 //重新从第 1 页开始
									},
									where: {
										key: {
											id: demoReload.val()
										}
									}
								}, 'data');
							}
						};

					$('.demoTable .layui-btn').on('click', function() {
						var type = $(this).data('type');
						active[type] ? active[type].call(this) : '';
					});
				});
				function plateAdd() {
				layui.use('layer', function() {
					var layer = layui.layer;
					layer.open({
						type: 2,
						title: '添加车牌',
						content: 'project_add',
						area: ['100%', '100%']
					});
				});
			}
			/*function plateDelete() {
				layui.use('layer', function() {
					var layer = layui.layer;
					layer.open({
						type: 2,
						title: '添加车牌',
						content: 'project_delete',
						area: ['100%', '100%']
					});
				});
			}*/
			</script>
		
	</body>

</html>