<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/layui.css"/>
    <style>
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
</head>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">

</fieldset>
<div>
    <div class="layui-row" style="width: 1000">
        <div>
            <button class="layui-btn" type="button" onclick="plateAdd()">增加车辆</button>
            <!--delete还没有实现-->
            <button class="layui-btn" type="button" onclick="permissionDelete()">删除车辆</button>
        </div>
        <br/>
        <div class="layui-col-md">
            请输入车牌进行搜索：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="searchValue" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload" id="searchBtn">搜索</button>
        </div>
    </div>

    <table id="table" lay-filter="table"></table>
    <script src="../layui.js"></script>
    <script th:inline="none">
        layui.use(['table',], function () {

            var table = layui.table;

            table.render({
                elem: '#table',
                /*接口需修改*/
                url: 'blacklistDate'
                , parseData: function (res) {
                    return {
                        "data": res.data.info.data
                    };
                }
                , page: true,

                width: 1000,
                limits: [10],
                cols: [[
                    {type: 'numbers', title: '序号'}
                    , {
                        field: 'stationid', title: '站点编号', templet: function (data) {
                            return '<span>芥园西道加油站</span>';
                        }
                    }
                    , {field: 'carid', title: '黑名单车牌号'}
                    , {field: 'datetime', title: '记录时间'}
                ]]

            });
            // 搜索时重载
            var $ = layui.$,
                active = {
                    reload: function () {
                        var searchValue = $('#searchValue');

                        //执行重载
                        table.reload('table', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                //需要接口
                                plate: searchValue.val()
                            }
                        }, 'data');
                    }
                };

            $('#searchBtn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });

        function plateAdd() {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    type: 2,
                    title: '添加车牌',
                    content: 'project_add',
                    area: ['100%', '100%']
                });
            });
        }

        function plateDelete() {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    type: 2,
                    title: '添加车牌',
                    content: 'project_delete',
                    area: ['100%', '100%']
                });
            });
        }

    </script>
</div>

</html>