<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/layui.css" />

    <style>
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
    <title></title>
</head>

<body>
<div>
    <div class="layui-row" style="width: 1000">
        <div class="layui-col-md6">
            <div class="layui-btn-group">
                <button type="button" class="layui-btn layui-btn-primary" onclick="cameraAdd()">添加</button>
            </div>
        </div>
        <div class="layui-col-md6">
            搜索权限：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="searchValue" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload" id="searchBtn">搜索</button>
        </div>
    </div>

    <script id="barDemo" type="text/html">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <table id="table" lay-filter="table"></table>
    <script src="../layui.js"></script>
    <script th:inline="none">
        layui.use(['table', ], function() {

            var table = layui.table;

            table.render({
                elem: '#table',
                /*接口需修改*/
                url: 'cameraDate',
                page: true // 开启分页
                ,
                width: 1000,
                limits: [10],
                cols: [
                    [/* {type: 'checkbox'}
                        ,*/{
                        type: 'numbers',
                        title: '序号'
                    }, {
                        //排序，需修改
                        field: 'deviceip',
                        title: '设备IP',
                        sort: true
                        /*templet: function(data) {
                            return layui.util.toDateString(data.datetime);
                        }*/
                    }, {
                        field: 'note',
                        title: '设备类型'
                    }, {
                        field: 'kind',
                        title: '型号'
                    }, {
                        field: 'stationid',
                        title: '站点名称'
                    },{fixed: 'right',
                        title:'操作',
                        toolbar: '#barDemo', width:150}

                    ]
                ],

            });
            // 搜索时重载
            var $ = layui.$,
                active = {
                    reload: function() {
                        var searchValue = $('#searchValue');

                        //执行重载
                        table.reload('table', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                //需要接口
                                plate: searchValue.val()
                            }
                        }, 'data');
                    }
                };

            $('#searchBtn').on('click', function() {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            //监听行工具事件
            table.on('tool(table)', function(obj){

                if(obj.event === 'del'){

                    layer.confirm('真的删除行么', function(index){
                        var uuid = new String();
                        uuid = obj.data.uuid;
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            url: "delCamera",
                            data: {uuid:uuid}
                        });
                        obj.del();
                        layer.close(index);
                    });
                } /*else if(obj.event === 'edit'){
                    layer.prompt({
                        formType: 2
                        ,value: data.email
                    }, function(value, index){
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                }*/
            });
        });
        function cameraAdd() {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    type: 2
                    , title: '添加摄像头'
                    , content: 'addCamera'
                    , area: ['100%', '100%']
                });
            });
        }
    </script>
</div>
</body>

</html>