<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/layui.css"/>

    <style>
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
    <title></title>
</head>

<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
</fieldset>
<div>
    <div class="layui-row" style="width: 1000">
        <div class="layui-col-md">
            请输入设备类型进行搜索：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="searchValue" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload" id="searchBtn">搜索</button>
        </div>
    </div>
    <table id="table" lay-filter="table"></table>
    <script src="../layui.js"></script>
    <script th:inline="none">
        layui.use(['table',], function () {

            var table = layui.table;

            table.render({
                elem: '#table',
                /*接口需修改*/
                url: 'cameraDate',
                page: true // 开启分页
                ,
                width: 1000,
                limits: [10],
                cols: [
                    [{
                        type: 'numbers',
                        title: '序号'
                    }, {
                        //排序，需修改
                        field: 'deviceip',
                        title: '设备IP',
                        sort: true
                        /*templet: function(data) {
                            return layui.util.toDateString(data.datetime);
                        }*/
                    }, {
                        field: 'note',
                        title: '设备类型'
                    }, {
                        field: 'kind',
                        title: '型号'
                    }, {
                        field: 'stationid',
                        title: '站点名称', templet: function (data) {
                            if (data.stationid == 'jyxd') {
                                return '<span>芥园西道加油站</span>';
                            }
                        }
                    }

                    ]
                ],

            });
            // 搜索时重载
            var $ = layui.$,
                active = {
                    reload: function () {
                        var searchValue = $('#searchValue');

                        //执行重载
                        table.reload('table', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {
                                //需要接口
                                plate: searchValue.val()
                            }
                        }, 'data');
                    }
                };

            $('#searchBtn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
        });
    </script>
</div>
</body>

</html>