<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="layui/css/layui.css"  media="all">

</head>
<body>
 
<table class="layui-table" lay-filter="test3" lay-data="{url:'/test/table/demo1.json', id:'test3'}">
  <thead>
    <tr>
      <th lay-data="{type:'checkbox'}">ID</th>
      <th lay-data="{field:'number', width:80, sort: true,edit: 'text'}">序号</th>
      <th lay-data="{field:'id',  sort: true}">油机名</th>
      <th lay-data="{field:'name',sort: true, edit: 'text'}">厂商</th>
      <th lay-data="{field:'typr', edit: 'text'}">型号</th>
      <th lay-data="{field:'fiction',edit: 'text'}">功能特点</th>

    </tr>
  </thead>
</table>
              
          
<script src="layui/layui.js" charset="utf-8"></script>

<script>
layui.use('table', function(){
  var table = layui.table;
  
  //监听单元格编辑
  table.on('edit(test3)', function(obj){
    var value = obj.value //得到修改后的值
    ,data = obj.data //得到所在行所有键值
    ,field = obj.field; //得到字段
    layer.msg('[ID: '+ data.id +'] ' + field + ' 字段更改为：'+ value);
  });
});
</script>

</body>
</html>