<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="../css/layui.css"  media="all">

</head>
<body>
 
<table class="layui-hide" id="test"></table>
 
<script id="switchTpl" type="text/html">
  <!-- 这里的 checked 的状态只是演示 -->
  <input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="启用|停用" lay-filter="sexDemo" {{ d.id == 10003 ? 'checked' : '' }}>
</script>

<script src="../layui.js" charset="utf-8"></script>

 
<script>
layui.use('table', function(){
  var table = layui.table
  ,form = layui.form;
  
  table.render({
    elem: '#test'
    ,url:'/demo/table/user/'
    ,cellMinWidth: 80
    ,cols: [[
      {type:'numbers'}
      ,{type: 'checkbox'}
      ,{field:'id', title:'站点名称', unresize: true, sort: true}
      ,{field:'condition', title:'系统应用状况',  templet: '#switchTpl', unresize: true}
      ,{field:'camera', title:'摄像头'}
      ,{field:'condition2', title:'摄像头使用状况', templet: '#switchTpl', unresize: true}
      ,{field:'oil', title:'油机'}
      ,{field:'condition3', title:'油机使用状况', templet: '#switchTpl', unresize: true}
      ,{field:'facility', title:'设备三'}
       ,{field:'condition4', title:'设备三使用状况', templet: '#switchTpl', unresize: true}
      /*,{field:'username', title:'用户名', templet: '#usernameTpl'}*/

    ]]
    ,page: true
  });
  
  //监听性别操作
  form.on('switch(sexDemo)', function(obj){
    layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
  });
});
</script>

</body>
</html>