<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/layui.css" />

    <style>
        .layui-table-cell .layui-form-checkbox[lay-skin="primary"] {
            top: 50%;
            transform: translateY(-50%);
        }
    </style>
    <title></title>
</head>


<div>
    <div class="layui-row" style="width: 1000">
        <div class="layui-col-md5">
            <div class="layui-btn-group">
                <button type="button" class="layui-btn layui-btn-primary" onclick="stationAdd()">添加</button>
            </div>
        </div>

        <div class="layui-col-md3">
            <div class="layui-inline">
                <input class="layui-input" name="id" id="searchValue" placeholder="油站名称" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload"  id="searchBtn">搜索</button>
        </div>
    </div>

    <script id="barDemo" type="text/html">
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    </script>

    <table id="table" lay-filter="table"></table>
    <script src="../layui.js"></script>
    <script th:inline="none">
        layui.use(['table', ], function() {

            var table = layui.table;

            table.render({
                elem: '#table',
                /*接口需修改*/
                url: 'stationData',

                page: true // 开启分页
                ,
                width: 1300,
                height: 500,
                limits: [10,20,30]
                ,limit: 20,

                cols: [
                    [ {type: 'checkbox',
                    },{
                        type: 'numbers',
                        title: '序号'
                    }, {
                        field: 'stationid',
                        title: '油站代码',
                        width:110,
                        sort: true,
                    }, {
                        field: 'station_manage_id',
                        title: '管控油站代码',
                        width:120,
                    },{
                        field: 'stationname',
                        title: '油站名称',
                        width:250,
                    },{
                        field: 'station_short_name',
                        title: '油站简称',
                    },{
                        field: 'belongtocompany',
                        title: '所属地市公司',

                    },{
                        field: 'address',
                        title: '地址',
                        width:250,
                    },{
                        field: 'phone',
                        title: '电话',

                    }, {fixed: 'right',
                        title:'操作',
                        toolbar: '#barDemo',width:60}
                    ]
                ]

            });
            // 搜索时重载
            var $ = layui.$,
                active = {
                    reload: function() {
                        var searchValue = $('#searchValue');

                        //执行重载
                        table.reload('table', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            },
                            where: {

                                stationName: searchValue.val()
                            }
                        }, 'data');
                    }
                };

            $('#searchBtn').on('click', function() {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });
            //监听行工具事件
            table.on('tool(table)', function(obj){

                if(obj.event === 'del'){

                    layer.confirm('真的删除行么', function(index){
                        var uuid = new String();
                        uuid = obj.data.uuid;
                        $.ajax({
                            type: "post",
                            dataType: "json",
                            url: "delStation",
                            data: {uuid:uuid}
                        });
                        obj.del();
                        layer.close(index);
                    });
                } /*else if(obj.event === 'edit'){
                    layer.prompt({
                        formType: 2
                        ,value: data.email
                    }, function(value, index){
                        obj.update({
                            email: value
                        });
                        layer.close(index);
                    });
                }*/
            });
        });
        function stationAdd() {
            layui.use('layer', function () {
                var layer = layui.layer;
                layer.open({
                    type: 2
                    , title: '添加站点'
                    , content: 'addStation'
                    , area: ['100%', '100%']
                });
            });
        }

    </script>
</div>


</html>