<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ExtractLoadV01</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<!-- 检测接口 -->
	<servlet>
		<servlet-name>QueryServlet_Monitor</servlet-name>
		<servlet-class>com.controller.QueryServlet_Monitor</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_Monitor</servlet-name>
		<url-pattern>/Monitor</url-pattern>
	</servlet-mapping>

	<!-- 权限接口 -->
	<servlet>
		<servlet-name>QueryServlet_Permission</servlet-name>
		<servlet-class>com.controller.QueryServlet_Permission</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_Permission</servlet-name>
		<url-pattern>/Permission</url-pattern>
	</servlet-mapping>

	<!-- 角色接口 -->
	<servlet>
		<servlet-name>QueryServlet_Role</servlet-name>
		<servlet-class>com.controller.QueryServlet_Role</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_Role</servlet-name>
		<url-pattern>/Role</url-pattern>
	</servlet-mapping>

	<!-- 用户接口 -->
	<servlet>
		<servlet-name>QueryServlet_User</servlet-name>
		<servlet-class>com.controller.QueryServlet_User</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_User</servlet-name>
		<url-pattern>/User</url-pattern>
	</servlet-mapping>

	<!-- 站点接口 -->
	<servlet>
		<servlet-name>QueryServlet_Station</servlet-name>
		<servlet-class>com.controller.QueryServlet_Station</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_Station</servlet-name>
		<url-pattern>/Station</url-pattern>
	</servlet-mapping>

	<!-- 设备接口 -->
	<servlet>
		<servlet-name>QueryServlet_Device</servlet-name>
		<servlet-class>com.controller.QueryServlet_Device</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_Device</servlet-name>
		<url-pattern>/Device</url-pattern>
	</servlet-mapping>

	<!-- 网页调用 -->
	<servlet>
		<servlet-name>QueryServlet_Service</servlet-name>
		<servlet-class>com.controller.QueryServlet_Service</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_Service</servlet-name>
		<url-pattern>/Service</url-pattern>
	</servlet-mapping>

	<!-- 处理数据 -->
	<servlet>
		<servlet-name>QueryServlet_Compute</servlet-name>
		<servlet-class>com.controller.QueryServlet_Compute</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_Compute</servlet-name>
		<url-pattern>/Compute</url-pattern>
	</servlet-mapping>

	<!-- 液位仪的数据处理-->
	<servlet>
		<servlet-name>QueryServlet_LevelGauge</servlet-name>
		<servlet-class>com.controller.QueryServlet_LevelGauge</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_LevelGauge</servlet-name>
		<url-pattern>/LevelGauge</url-pattern>
	</servlet-mapping>

	<!-- 加油的数据处理-->
	<servlet>
		<servlet-name>QueryServlet_Tanker</servlet-name>
		<servlet-class>com.controller.QueryServlet_Tanker</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>QueryServlet_Tanker</servlet-name>
		<url-pattern>/Tanker</url-pattern>
	</servlet-mapping>


	<filter>
		<filter-name>WebFilter</filter-name>
		<filter-class>com.controller.WebFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>WebFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- XFire -->
	<!-- <servlet>
		<servlet-name>XFireServlet</servlet-name>
		<servlet-class>
			org.codehaus.xfire.transport.http.XFireConfigurableServlet
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/servlet/XFireServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>XFireServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	 -->
</web-app>