<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/layui.css">

</head>
<div>
    <div class="layui-form" style="width: 1000">
        <div class="layui-form-item">
            <label class="layui-form-label">筛选</label>
            <div class="layui-input-inline">
                <select id="stationSelect">
                    <option value="" selected="">请选择站点</option>
                </select>
            </div>
            <div class="layui-input-inline">
                <select id="yearSelect">
                    <option value="" selected="">请选择年份</option>
                </select>
            </div>
            <button class="layui-btn" data-type="reload" id="searchBtn">搜索</button>
        </div>

    </div>
    <div id="chart1" style="width: 900px;height:600px;"></div>
    <br/><br/><br/>
    <div id="chart2" style="width: 900px;height:600px;"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js"></script>
    <script src="../layui.js"></script>
    <script type="text/javascript" th:inline="none">
        var host = "http://49.233.36.65:8080"
        layui.use('form', function () {
            // 搜索时重载
            var $ = layui.$
            var form = layui.form

            // 搜索按钮响应
            $('#searchBtn').on('click', function () {
                let year = $('#yearSelect').val()
                let stationid = $('#stationSelect').val()
                getData(year, stationid)
            });
            var getYears = function () {
                var startYear = 2018, year = new Date().getFullYear()
                for (; startYear <= year; startYear++) {
                    var opt = $("<option ></option>").val(startYear).text(startYear + "年")
                    $("#yearSelect").prepend(opt)
                }
                form.render('select')
            }
            var getStationList = function () {
                var url = host +'/ExtractLoadV01/Station?oper=3'
                // var url = 'http://mock-api.com/rg1WOWKY.mock/zhandian'
                $.ajax({
                    url: url,
                    dataType: "json",
                    success: function (data) {
                        console.log(url)
                        console.log(data)
                        data = data.data
                        for (item of data) {
                            console.log(item.name)
                            let selet = $('<option></option>').text(item.name).val(item.stationid)
                            if (item.name == '芥园西道') selet.attr("selected", "true")
                            $("#stationSelect").append(selet)
                        }
                        form.render('select');
                        getData()
                    }
                })
            }
            var getData = function (year, stationid) {
                if (year === '' || year == null) {
                    year = new Date().getFullYear();
                }
                if (stationid === '' || stationid == null) {
                    stationid = "jyxd"
                }
                //待替换
                var url = host+'/ExtractLoadV01/Monitor?oper=7&stationid='+stationid+'&year='+year
                // var url = 'http://mock-api.com/rg1WOWKY.mock/youji?year=' + year
                $.ajax({
                    url: url,
                    dataType: "json",
                    success: function (data) {
                        console.log(url)
                        console.log(data)
                        data = data.data
                        data.sort(function (a, b) {
                            if (a.year == b.year) return a.month - b.month;
                            return a.year - b.year;
                        })
                        fullGraph(data)
                    }
                })
            }
            var getTop = function (max) {
                var maxTop = 1;
                console.log(max)
                while(max > maxTop){
                    maxTop*=10
                }
                console.log('maxTop'+maxTop)
                return maxTop;
            }

            // 基于准备好的dom，初始化echarts实例
            var myChart1 = echarts.init(document.getElementById('chart1'));
            var myChart2 = echarts.init(document.getElementById('chart2'));

            //data1(入站车辆数）data2(加油量) data3(加油次数)
            var xdata = [], data1 = [], data2 = [], data3 = [],top1=0,top2=0,top3=0

            var colors = ['#5793f3', '#d14a61', '#675bba'];


            var fullGraph = function (data) {
                xdata.splice(0, xdata.length)
                data1.splice(0, data1.length)
                data2.splice(0, data2.length)
                data3.splice(0, data3.length)
                for (item of data) {
                    xdata.push(item.year + '-' + item.month)
                    data1.push((item.in/item.out).toFixed(2))
                    data2.push(item.quantity)
                    data3.push(item.count)
                }
                top1=getTop(Math.max.apply(null,data1))
                top2=getTop(Math.max.apply(null,data2))
                top3=getTop(Math.max.apply(null,data3))
                var option1 = {
                    title: {
                        text: '入站率变化趋势'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: ['入站率']
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            saveAsImage: {show: true},
                            magicType: {
                                show:true,
                                type: ['line', 'bar']
                            }
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: xdata
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '入站率',
                            axisLabel: {
                                formatter: '{value}'
                            }
                        }
                    ],
                    series: [
                        {
                            name: '入站率',
                            type: 'line',
                            areaStyle: {},
                            data: data1,
                            markLine: {
                                lineStyle: {
                                    normal: {
                                        type: 'dashed'
                                    }
                                },
                                data: [
                                    [{type: 'min'}, {type: 'max'}],
                                    {type: 'average', name: '平均值'}
                                ]
                            },
                        },

                    ]
                };
                //入站车辆数量和加油量、加油次数的变化关系

                var option2 = {
                    color: colors,
                    title: {
                        text: '入站率和加油量、加油次数的变化关系'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '10%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            saveAsImage: {show: true},
                            restore: {show:true},
                            magicType: {
                                show:true,
                                type: ['line', 'bar']
                            }
                        }
                    },
                    legend: {
                        data:['入站率','加油量','加油次数']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            data: xdata
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '入站率',
                            min: 0,
                            // max: top1,
                            position: 'right',
                            axisLine: {
                                lineStyle: {
                                    color: colors[0]
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        {
                            type: 'value',
                            name: '加油量',
                            min: 0,
                            // max: top2,
                            position: 'right',
                            offset: 60,
                            axisLine: {
                                lineStyle: {
                                    color: colors[1]
                                }
                            },
                            axisLabel: {
                                formatter: '{value} L'
                            }
                        },
                        {
                            type: 'value',
                            name: '加油次数',
                            min: 0,
                            // max: top3,
                            position: 'left',
                            axisLine: {
                                lineStyle: {
                                    color: colors[2]
                                }
                            },
                            axisLabel: {
                                formatter: '{value} 次'
                            }
                        }
                    ],
                    series: [
                        {
                            name:'入站率',
                            type:'line',
                            data:data1
                        },
                        {
                            name:'加油量',
                            type:'bar',
                            yAxisIndex: 1,
                            data:data2
                        },
                        {
                            name:'加油次数',
                            type:'bar',
                            yAxisIndex: 2,
                            data:data3
                        }
                    ]
                };

                myChart1.setOption(option1);
                myChart2.setOption(option2);
                myChart1.resize()
                myChart2.resize()

            }

            getYears()
            getStationList()

        });

    </script>

</div>
</html>