<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../css/layui.css">

</head>
<div>
    <div class="layui-form" style="width: 1000">
        <div class="layui-form-item">
<!--            <label class="layui-form-label">筛选</label>-->
            <div class="layui-input-inline">
                <select id="stationSelect">
                    <option value="" selected="">请选择站点</option>
                </select>
            </div>
<!--            <div class="layui-input-inline">-->
<!--                <select id="yearSelect">-->
<!--                    <option value="" selected="">请选择年份</option>-->
<!--                </select>-->
<!--            </div>-->
            <button class="layui-btn" data-type="reload" id="searchBtn">搜索</button>
        </div>

    </div>
<!--    <div id="chart1" style="width: 900px;height:600px;"></div>-->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <ul class="layui-tab-title">
            <li class="layui-this">各日入店比和入站车流数量的变化趋势</li>
            <li>各日入店比和入店人流数量的变化趋势</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div id="chart1" style="width: 900px;height:600px;"></div>
            </div>
            <div class="layui-tab-item">
                <div id="chart2" style="width: 900px;height:600px;"></div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/echarts/4.3.0/echarts.min.js"></script>
    <script src="../layui.js"></script>
    <script type="text/javascript" th:inline="none">
        var host = "http://49.233.36.65:8080"
        layui.use(['form','element'], function () {
            // 搜索时重载
            var $ = layui.$
            var form = layui.form

            // 搜索按钮响应
            $('#searchBtn').on('click', function () {
                let year = $('#yearSelect').val()
                let stationid = $('#stationSelect').val()
                getData(year, stationid)
            });
            var getYears = function () {
                var startYear = 2018, year = new Date().getFullYear()
                for (; startYear <= year; startYear++) {
                    var opt = $("<option ></option>").val(startYear).text(startYear + "年")
                    $("#yearSelect").prepend(opt)
                }
                form.render('select')
            }
            var getStationList = function () {
                var url = host +'/ExtractLoadV01/Station?oper=3'
                // var url = 'http://mock-api.com/rg1WOWKY.mock/zhandian'
                $.ajax({
                    url: url,
                    dataType: "json",
                    success: function (data) {
                        console.log(url)
                        console.log(data)
                        data = data.data
                        for (item of data) {
                            console.log(item.name)
                            let selet = $('<option></option>').text(item.name).val(item.stationid)
                            if (item.name == '芥园西道') selet.attr("selected", "true")
                            $("#stationSelect").append(selet)
                        }
                        form.render('select');
                        getData()
                    }
                })
            }
            var getData = function (year, stationid) {
                if (year === '' || year == null) {
                    year = new Date().getFullYear();
                }
                if (stationid === '' || stationid == null) {
                    stationid = "jyxd"
                }
                //待替换
                var url = host + '/ExtractLoadV01/Monitor?oper=10&stationid='+stationid+'&year='+year
                // var url = 'http://mock-api.com/rg1WOWKY.mock/rudianbi'
                $.ajax({
                    url: url,
                    dataType: "json",
                    success: function (data) {
                        console.log(url)
                        console.log(data)
                        data = data.data
                        data.sort(function (a, b) {
                            if (a.year == b.year) return a.month - b.month;
                            return a.year - b.year;
                        })
                        fullGraph(data)
                    }
                })
            }

            // 基于准备好的dom，初始化echarts实例
            var myChart1 = echarts.init(document.getElementById('chart1'));
            var myChart2 = echarts.init(document.getElementById('chart2'));

            //data1(入站车辆数）data2(加油量) data3(加油次数)
            var xdata = [], data1 = [], data2 = [], data3 = [],top1=0,top2=0,top3=0

            var colors = ['#63b0f3', '#b8d140', '#55ba50'];


            var fullGraph = function (data) {
                xdata.splice(0, xdata.length)
                data1.splice(0, data1.length)
                data2.splice(0, data2.length)
                data3.splice(0, data3.length)
                for (item of data) {
                    xdata.push(item.year + '-' + item.month)
                    data1.push((item.human_in_num/item.car_in_num).toFixed(2))
                    data2.push(item.car_in_num)
                    data3.push(item.human_in_num)
                }

                var option1 = {
                    color: colors,
                    title: {
                        // text: '入店比变化趋势'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '10%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            saveAsImage: {show: true},
                            magicType: {
                                show:true,
                                type: ['line', 'bar']
                            }
                        }
                    },
                    legend: {
                        data:['入店比','入站车流量']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            data: xdata
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '入店比',
                            min: 0,
                            // max: top1,
                            position: 'left',
                            axisLine: {
                                lineStyle: {
                                    color: colors[0]
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        {
                            type: 'value',
                            name: '入站车流量',
                            min: 0,
                            // max: top2,
                            position: 'right',
                            axisLine: {
                                lineStyle: {
                                    color: colors[1]
                                }
                            },
                            axisLabel: {
                                formatter: '{value} 辆'
                            }
                        }
                    ],
                    series: [
                        {
                            name:'入店比',
                            type:'line',
                            barGap:0,
                            data:data1
                        },
                        {
                            name:'入站车流量',
                            type:'bar',
                            yAxisIndex: 1,
                            data:data2
                        }
                    ]
                };

                var option2 = {
                    color: colors,
                    title: {
                        // text: '入店比变化趋势'
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '10%',
                        bottom: '3%',
                        containLabel: true
                    },
                    toolbox: {
                        feature: {
                            dataView: {show: true, readOnly: false},
                            saveAsImage: {show: true},
                            magicType: {
                                show:true,
                                type: ['line', 'bar']
                            }
                        }
                    },
                    legend: {
                        data:['入店比','入店人流量']
                    },
                    xAxis: [
                        {
                            type: 'category',
                            axisTick: {
                                alignWithLabel: true
                            },
                            data: xdata
                        }
                    ],
                    yAxis: [
                        {
                            type: 'value',
                            name: '入店比',
                            min: 0,
                            // max: top1,
                            position: 'left',
                            axisLine: {
                                lineStyle: {
                                    color: colors[0]
                                }
                            },
                            axisLabel: {
                                formatter: '{value}'
                            }
                        },
                        {
                            type: 'value',
                            name: '入店人流量',
                            min: 0,
                            // max: top3,
                            position: 'right',
                            axisLine: {
                                lineStyle: {
                                    color: colors[2]
                                }
                            },
                            axisLabel: {
                                formatter: '{value} 人次'
                            }
                        }
                    ],
                    series: [
                        {
                            name:'入店比',
                            type:'line',
                            barGap:0,
                            data:data1
                        },
                        {
                            name:'入店人流量',
                            type:'bar',
                            yAxisIndex: 1,
                            data:data3,
                            color: colors[2]
                        }
                    ]
                };

                myChart1.setOption(option1);
                myChart2.setOption(option2);
                myChart1.resize()
                myChart2.resize()
            }
            getYears()
            getStationList()

        });

    </script>

</div>
</html>